.title {
  background: rgb(237, 237, 237);
  background: linear-gradient(
    180deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(100, 100, 100, 1) 88%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
